.Container {
    column-gap: 20px;
    row-gap: 20px;
}

.button-cell {
    text-align: center;
}

.top-buffer { 
    margin-top:20px;
}

.big-text {
    white-space: pre-line;
}

.textarea-row {
    display: block;
}

.inline-button {
    display: inline-block;
}

.header_text {
    color:grey;
}

.value_text {
    font-weight: bold;
}


tbody {
    font-size: smaller;
}