@import './Styles/variables';
@import './Styles/mixins';

.transaction-table-container {
    outline: solid 5px $contrast-color;
    border-radius: 5px;
    
    Table { 

        background-color: $contrast-color;

        tbody {
            background-color: $contrast-color;
            display: block;
            height: 380px;
            overflow-y: scroll;

            tr {
                margin: 0;
                width: 100%;
                background-color: $background-color;
            }
        }
    }

    thead {
        border-radius: 5px;
    }

    thead, tbody tr {
        display: table;
        width: calc(100% - 17px);
        table-layout: fixed;
        background-color: $background-color;
    }
}

.transaction-button-container {
    display: flex;
    justify-content: right;
    flex-direction: column;
    gap: 5px;
}

.last-item {
    background-color: $contrast-color !important;
}

.tab-div {
    padding: 10px;
}

.active-tab {
    background-color: $active-color !important; 
    color: white !important;
}

.tab-bar {
    border-bottom: 0 !important;
    gap: 5px;

    button {
        border-radius: 20px !important;
        padding-left: 20px;
        padding-right: 20px;
    }
}